@import url("https://use.typekit.net/wgi7bzk.css");
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    /* cursor: url("/cursor.png"), auto; */
    color: #F0FFFD;
    transition: .2s;
}
::selection {
    background-color: #F0FFFD;
    color: black;
}
elements {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-0%, -50%);
}
h1 {
    font: 400 135% "stolzl", sans-serif;
}
h2 {
    font: 400 115% "stolzl", sans-serif;
    white-space: nowrap;
}
a {
    transition: .2s;
    font-family: "stolzl", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #F0FFFD85;
    padding: 5px;
    margin-left: -5px;
}
a:hover {
    transition: .2s;
    background-color: #F0FFFD25;
}
li {
    padding: 5px 0px;
    list-style-type: none;
}
.nav_cont {
    display: flex;
    flex-direction: ltr;
}
.nav_sect {
    margin-top: 25px;
    padding-right: 100px;
}
#space {
    margin-top: 65px;
}
@media only screen and (max-width: 1000px) {
    elements {
        position: absolute;
        transform: translate(-0%, -0%);
        left: 50px;
        top: 50px;
    }
    .nav_cont {
        display: unset;
    }
    #top {
        margin-top: 65px;
    }
}